.App {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    border: 5px solid #1a1aae;
    border-radius: 15px;
    margin: 20px;
    width: 300px;
    height: 300px;
    background-color: #373636;
}

.inputs-wrapper {
    height: 100px;
    width: 250px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    border: 5px solid #1a1aae;
    border-radius: 15px;
    /*margin: 5px;*/
    margin-top: 20px;
    padding: 5px;
    color: white;
    background-color: #373636;
}
.buttons-wrapper {
    display: flex;
    justify-content: center;
    border: 5px solid #1a1aae;
    height: 100px;
    width: 250px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: #373636;
}

button {
    display: flex;
    align-self: center;
    align-content: center;
    margin: 3px;
    width: 70px;
    height: 30px;
    border: 5px solid #1a1aae;
    border-radius: 5px;
    font-size: medium;
    /*background-color: gray;*/
    color: black;
}


.input-value {
    display: flex;
    margin: 5px;
}

.error {
    background-color: red;
}

.red {
    color: red;
}

h1 {
    text-align: center;
    color: white;
}

input {
    text-align: center;
    font-size: medium;
}